/* src/components/runbooks/ConfigureRunbookDrawer.module.css */
.drawerHeader {
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 12px;
  }
  
  .saveButton {
    background-color: #1677ff;
    border-color: #1677ff;
    margin-top: 12px;
    /* etc. */
  }
  